<footer>
    <p><a href="/">Home</a> | <a href="/lineup">Line Up</a> | <a href="/stages">Stages</a> | <a href="/faq">FAQ</a> | <a href="/contact">Contact Us</a></p>
    <p>&copy; 2024 Summer Festival. All rights reserved.</p>
    <p>Follow us on:
        <a href="http://twitter.com/yourfestival" target="_blank"><i class="fab fa-twitter"></i> Twitter</a> |
        <a href="http://facebook.com/yourfestival" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a> |
        <a href="http://instagram.com/yourfestival" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
    </p>
</footer>
