
<header>
    <div class="logo-container">
        <img src="/res/images/sunny.png" alt="Summer Festival 2024">
        <div class="logo-text">Summer Festival 2024</div>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/lineup">Line Up</a></li>
            <li><a href="/stages">Stages</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>
</header>
