<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <%- include('partials/header') %>
    </header>
    <main class="main">
        <section class="section">
            <h2>404 - Page Not Found</h2>
            <p>Sorry, the page you are looking for does not exist.</p>
            <a href="/" class="btn">Go to Home</a>
        </section>
    </main>
    <footer>
        <%- include('partials/footer') %>
        <script src="/script/script.js"></script>
    </footer>
</body>
</html>
